@font-face {
  font-family: Lot;
  src: url('fonts/LOT/Lot-Regular.eot');
  src: url('fonts/LOT/Lot-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/LOT/Lot-Regular.woff2') format('woff2'),
  url('fonts/LOT/Lot-Regular.woff') format('woff'),
  url('fonts/LOT/Lot-Regular.ttf') format('truetype');
}

:root {
  --primary-color: #083068;
  --secondary-color: #00cccc; 
  --dark-color: #222831;
  --white-color: #fafafa;
}
@media screen and (max-width: 375px) {
  .responsiveicon {
  margin: 0;
  }
}
.responsiveBorder{
  border-color: #b89f7d6b !important;
  border-inline-end: solid;
  border-bottom: solid;
}
@media screen and (max-width: 991px) { 
  .responsiveBorder {        
      border-inline-end: 0 !important;
  }
}
@media (min-width: 992px) { 
  .responsiveBorder {       
      border-bottom: 0 !important;
      
  }
}

#inputStr::placeholder{
  color: #7D2126 ;
}

.customTextarea{
  background-color: #dbd3c5;
  border-color: #7D2126;

}
body {
  color: var(--dark-color);
  background-color: #f3e7d8;
  font-size: 100%
}

nav {
  background-color: var(--dark-color);
}

footer {
  background-color: var(--dark-color);
  padding-right: 1rem;
}

footer .social>a{
  color: var(--white-color);
  opacity: 0.75;
}
footer .social>a:hover{
  opacity:0.9;
  color: #7D2126;
}
.bsicon{
  color:#7431f9;
}
.jsicon{
  color: rgba(252,176,64,255);
}
.html5icon{
  color: rgba(220,75,38,255);
}
.cssicon{
  color: rgba(23,117,187,255);
}

.checklist >li i{
  color: #7D2126;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #7D2126;
}

.custom-btn{
  background-color: #7D2126;
  color: #FFF5E0;
}
.custom-btn:hover{
  background-color: #B89E7D;
  color: #FFF5E0;
  transition: 0.5s;
}
.resize-svg{
  height: 50px;
}

.nav{
  z-index: 1;
  top:0;
}
h1{
  font-family: Lot;
  /* font-size: 6vh; */
}
.lot-font{
  font-family: Lot;
}

code[class*="language-"],
  pre[class*="language-"] {
      white-space: pre-wrap;
      word-break: break-all;
      word-wrap: break-word;
  }
main > .container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}
.sticky-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

